.title{
	margin: 30px;
}
.add-product{
	border: 2px solid gray;
	background-color: rgb(255, 233, 194);
	padding: 30px;
	margin: 30px;
}
.div-add{
	display: flex;
	flex-direction: column;
}
.div-add>*{
	margin: 10px;
	padding: 10px;
}
.div-add input{
	width: 60%;
}
.add-product button{
		margin: 10px;
	padding: 10px;
	border-radius: 5px;
}
.add-product button:hover{
	background-color: rgb(235, 174, 94);
	cursor: pointer;


}


.div-product{
	padding: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

}
.div-img{
	display: flex;
	justify-content: center;
	align-items: center;
}
.div-product img{
	width: 80%;
	border-radius: 7%;
}
.div-column{
	display: flex;
	flex-direction: column;
	
}
.div-column>*{

	margin: 10px;
}
.product-button{
	display: flex;
	flex-direction: column;
}
.product-button>*{
	border: 2px solid rgb(138, 120, 18);
	padding: 10px;
	margin: 10px;
	
}
.product-button :hover{
	background-color: rgb(235, 174, 94);
	cursor: pointer;

}
@media screen and (max-width:700px){
.div-product{
	
	grid-template-columns: 1fr ;

}
.product-button{
	flex-direction: row;
}
}

.div-edit div{
	margin: 15px;
	padding: 10px;
	display: flex;
}
.div-edit div input{
	padding: 10px;
	
}
.div-edit div label{
	margin-right: 20px;
}
.div-edit button{
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
}
.div-edit button:hover{
	background-color: rgb(235, 174, 94);
	cursor: pointer;


}